@inject Microsoft.AspNetCore.Http.IHttpContextAccessor context
@{
    var EmployeeName = context.HttpContext.Request.Cookies["rcbctellername"];
    var LastLogin = context.HttpContext.Request.Cookies["rcbctellerlogin"];
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title>@ViewBag.TitlePage</title>

    <!-- Bootstrap -->
    <link href="~/Custom/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Custom/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Custom/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Custom/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
	
    <!-- bootstrap-progressbar -->
    <link href="~/Custom/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/Custom/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="~/Custom/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/Custom/build/css/custom.min.css" rel="stylesheet">
    <link href="~/Custom/build/css/custom.css" rel="stylesheet">

        <!-- jQuery -->
    <script src="~/Custom/vendors/jquery/dist/jquery.min.js"></script>

@*    toastr*@
    <link href="~/additional/toastr.css" rel="stylesheet" />
    <script src="~/additional/toastr.js"></script>
    <script src="~/js/toastr.js"></script>
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-window-restore"></i> <span>RCBC DPU</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li>
                                    <a style="font-size: 15px;font-weight: bolder"> Corporate Client <br/>Management<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="index.html">menu 1</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a style="font-size: 15px;font-weight: bolder"> Maintenance<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="index.html">User Maintenance</a></li>
                                        <li><a href="index.html">View All Users</a></li>
                                        <li><a href='@Url.Action("CreateNewuser", "Home")'>Create New User</a></li>
                                        <li><a href='@Url.Action("ResetPassword", "Home")'>User Password Reset</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a style="font-size: 15px;font-weight: bolder"> Reports<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="index.html">menu 1</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a style="font-size: 15px;font-weight: bolder"> System <br>Parameters<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="index.html">menu 1</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a style="font-size: 15px;font-weight: bolder"> Recon<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="index.html">menu 1</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    @*<img src="images/img.jpg" alt="">*@
                                    <label>@EmployeeName</label>
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="javascript:;"> Profile</a>
                                    <a class="dropdown-item" href="javascript:;">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>Settings</span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:;">Help</a>
                                    <a class="dropdown-item" href='@Url.Action("Logout", "Home")'><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                </div>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
				<div class="">
					<div class="page-title">
						<div class="title_left">
                            <h5>Last login: @LastLogin</h5>
						</div>
					</div>
					<div class="clearfix"></div>
            
    @*        main body card*@
        <div class="row">
	    <div class="col-md-12 col-sm-12 ">
		    <div class="x_panel">
			    <div class="x_title">
				    <h2>@ViewBag.TitlePage</h2>
				    <div class="clearfix"></div>
			    </div>
			    <div class="x_content">
				    <br />
				    <div id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                         @RenderBody()
				    </div>
			    </div>
		    </div>
	    </div>
    </div>
    </div>
</div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Thems by Me
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
 

    <!-- Bootstrap -->
    <script src="~/Custom/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="~/Custom/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Custom/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/Custom/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/Custom/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/Custom/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/Custom/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/Custom/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/Custom/vendors/Flot/jquery.flot.js"></script>
    <script src="~/Custom/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/Custom/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/Custom/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/Custom/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/Custom/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/Custom/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/Custom/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/Custom/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/Custom/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/Custom/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/Custom/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/Custom/vendors/moment/min/moment.min.js"></script>
    <script src="~/Custom/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/Custom/build/js/custom.min.js"></script>

    
    <script>
        $(document).ready(function (){
            $.ajax({
                type: "GET",
                url: '@Url.Action("CheckUser", "Home")',
                success: function (response) {
                    if (response == "Invalid") {
                        window.location.href = "@Url.Action("Login", "Home")";
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        })
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
